:root{
    --purple: rgb(148,91,252);
    --pink : rgb(243,60,252);
    --green : rgb(116,188,68);
}

footer{
    padding-bottom: 3vh;
    border-top-left-radius:150px;
    background-color: white;
    box-shadow: inset 1px 1px 100px 1px var(--green);
}
footer img{
    height: 70px;
}

.footer_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 6vh;
}

.footer_left_side{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1vh;
}

.footer_middle_side,
.footer_right_side{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1vh;
}

@media screen and ( max-width : 1000px) {
    *{
        margin: 0;
        padding: 0;
        
    }
    footer{
        border-radius:0;
        margin-left: 0vw;
        font-size: 0.7rem;
    }

    .footer_container{
        display: flex;
        flex-direction: column;
        gap: 2vh;
        justify-content: center;
        align-items: center;
    }
}