*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Oxygen";
    font-size: 0.9 rem;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vh;
    background-color: transparent;
}

.logo{
    height: 75px;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: -2vh; 
}

.left a{
    text-decoration: none;
    color: rgb(133, 52, 209);
}

.left a:hover,
.buttons button:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


.buttons{
    
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1vw;
    width: 40%;
    margin-right: 4vw;
}

.buttons button{
    
    font-size:1rem;
}

.contact{
    border: none;
    background-color: rgb(166, 79, 248);
    width: 150px;
    height: 40px;
    
}

.contact p{
    color: white;
}

.reserver{
    width: 120px;
    height: 40px;
    border: 2px solid white;
    background-color: transparent;  
}

.reserver p{
    color: white;
}

#index{
    display: flex;
    flex-direction: row;
}
.left_side{
    width: 50%;
    padding-left: 5vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3vh;
}

.tittle{
    font-size: 3vw;
    animation: intro_text 1.2s;
}


.description{
    width: 70%;
    animation: intro_text 1.2s;
}

.more button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgb(226, 63, 204);
    animation: intro_text 1.2s;
}

a {
    text-decoration: none;
}

.more p{
    color: white;
    background-color: transparent;
    text-decoration-line: none; 
    font-size: 1rem;
}

.container_image{
    position: relative;
    z-index: -2;
    margin-top:-15vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(images/EXTERIEUR_01.JPG);
    background-size: 850px;
    height: 95vh;
    width: 100%;
    box-shadow: 4px 8px 20px 1px grey;
    animation: intro_image 2s;
    
}

.container_image img{
    height: 35px;
}


.research_section{
    background-color: white;
    height: 80px;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}
.research_section button{
    border: none;
    background-color: transparent;
    height:35px ;
}
.research_section p{
    font-weight: 800;
    margin-bottom: 2vh;
}

.research_section input{
    width: 138px;
    height: 25px;
}

@keyframes intro_image{
    0%{
        margin-top: -95vh;
    }40%{
        margin-top: -15vh;
    }
    60%{
        margin-top: -25vh;
    }
    100%{
        margin-top: -15vh;
    }
}

@keyframes intro_text{
    from{
        margin-left: -50vw;
    }to{
        margin-left: 0vw;
    }
}

@media screen and (max-width : 700px) {
    .navbar{
        background-color: blue;
        width: 140%;
    }
    
}